*{
    margin:0;
    padding:0;
    transition:all .1s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
      
}
*::selection{
    background:purple;
}
:root{
    --item:rgb(23, 29, 37);
    --docs:rgb(57, 65, 77);
    --transpdoc:rgba(50, 61, 81, 0.444);
    --doctext:rgb(112, 132, 136);
    --textlarge:rgb(214, 216, 219);
    --gsmalltext:rgb(163, 169, 178);
    --back:rgb(4, 6, 12);
    --back2:rgb(45, 47, 49);
}
 
 
    .flexed{
    display: flex;
    justify-content: center;
     flex-direction: column;
     align-items: center;
 }

    .flexdown{
    color:var(--docs);
    text-align: center;
    padding:10px;
     display: flex;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    height:80px;
     margin:1px;
     overflow: scroll;
     width:80%


}
body{
    background:
    url(/img/loggirl.svg),
    radial-gradient(var(--back),var(--back2)),
    repeating-conic-gradient(
    from 75deg,
     rgb(0, 0, 0) 0deg 45deg,
      rgba(41, 44, 46, 0.35) 45deg 90deg);
    background-blend-mode:difference;
    background-repeat: no-repeat, no-repeat,repeat;
    background-attachment: fixed,fixed;
    background-size: 600px 600px,1600px 1500px,1em 1em ;
    background-position: right,center,0% 50%;
 
}
 
a{
    text-decoration:none;

}
.sparagraph::first-letter{
    color:rgb(142, 206, 255);
     font-size:30px;
    font-weight: 600;
}

    .sparagraph{
    position:relative;
    font-size:18px;
    color:white;
       padding-top: 20px;
      text-align: center;
    background:rgba(255, 255, 255, 0.09);
    height:160px;
    letter-spacing:1.5px;
    border:5px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
}
 
    .sparagraph::after{
    content:"";
    position:absolute;
    right:0;
    bottom:0;
     margin-right:-50px;
     margin-bottom:-50px;
    display: flex;
    background-image:
     url(https://benasdom.github.io/Robo/img/cups.png);
    background-size:cover;
    background-repeat:no-repeat;
     background-position: top;
    height:100px;
    width:100px;
    border:5px solid rgba(255, 255, 255, 0.09);
    border-radius: 50%;
    align-self: flex-end;
    filter:hue-rotate(0deg);

    animation: alarm 15s linear infinite;
  }
  @keyframes alarm {
    50%{
        filter:hue-rotate(360deg);

    }
  }
.footer{
 
      display: flex;
     flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
         padding:50px 50px 50px 50px;
        height:650px;
        background-image:
        radial-gradient(#0000,rgb(0, 0, 0) 80%),
        repeating-conic-gradient(
          from 75deg,
          rgb(6, 0, 29) 0deg 45deg,
        rgba(55, 178, 255, 0.378)  90deg 90deg
        );
        background-size: 127em 58em;
        border-top: 5px solid rgb(6, 1, 20);
        animation: twinkle 10s ease-in-out infinite;

      }
      @keyframes twinkle {
        25%{
          background-size:130em 50em;
      
        }
        50%{
       background-size:100em 50em;
      
      
        }
        75%{
          background-size:130em 50em;
      
        }
      }
      
      

 .paystack,.cloudflare,.media{
    height:20px;
    width: 20px;
    border-radius: 50%;
   
}
.cloudflare{
    height:20px;
    width: 20px;
    border-radius: 50%;
}
.flinks{
    color:var(--gsmalltext);
    display: flex;
    justify-content:left;
    align-items: center;
    padding:5px;

}
h4{
    height: 50px;
    padding: 10px;
    color:var(--textlarge);
    display: flex;
    justify-content: left;
    align-items: center;
}
.feet{
    list-style: none;
}
.start{
    height:100px;
    width:100%;
    display: flex;
    backdrop-filter:blur(5rem);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin:auto 0;
}
.head1{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

.headtext2,
    .headtext1{
    opacity: 0;
    position: absolute;
    transition: opacity .6s ease-in-out;
    transform:rotateY(90deg);
}
 
.htextactive{
    opacity: 1;
    transition: opacity .6s ease-in-out;
    transform:rotateY(0deg);

}
    
    .headtext::after{
        content:attr(data-word);
    position:absolute;
    color:white;

     -webkit-text-stroke: 1px rgb(142, 206, 255);
    font-weight: 600;
    transition: opacity .6s ease-in-out;
    margin-top:-20px;
     overflow:hidden;
      border-radius:  0px 0px 87% 0px;
     animation:boxin 1.5s ease-out;

    }
    @keyframes boxin{
        0%{
            border-radius:  0px 0px 0px 0px;

        }
 
        100%{
            border-radius:  0px 0px 90% 0px;

        }
    }
        .headtext{
    font-size: 80px;
    color:transparent;
    background-size:.5em 3em;
    -webkit-text-stroke: 1px rgb(142, 206, 255);
    -webkit-background-clip: text;
    font-weight: 600;
    transition: opacity .6s ease-in-out;
    display: flex;
    align-items: flex-end;
    position:relative;
    flex-direction: row;
     margin: 0 auto;
    height:50%;
    width:88%;
}
.headtext{
     -webkit-text-stroke: 1px rgb(142, 206, 255);
    -webkit-background-clip: text;
    background-size:50px 1em;

}
 
.headtexta{
     color:var(--textlarge);
    font-weight: 600;
    transition: opacity .6s ease-in-out;
    display: flex;
    align-items: flex-end;
     position:relative;
    flex-direction: row;
    margin: 0 auto;
 
    width:88%;
}
.getstarted:hover{
    box-shadow: 0px 0px 0px rgba(211, 211, 211, 0);
}
    .getstarted{

    background:var(--back);
    color:var(--gsmalltext);
    cursor: pointer;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.752);
    height:30px;
    font-weight: 600;
    width:300px;
    border-radius: 10px;
    padding:10px;
}
.sec{
    color:rgb(178, 186, 189);
    display: flex;
    justify-content:left;
    flex-direction: column;
    min-width: 10%;

}
.icon{
    margin-right:10px;
    ;
}
.poster{
     height: 50px;
    width: 50px;
    margin:10px;
     object-fit:cover;
     top:10px;
    object-position:center;
}
.head{
    display: flex;
    flex-direction: column;
    height: 390px;
   
}
.htext{
    font-size: 15px;
    color: var(--textlarge);
    letter-spacing:1.5px;
    width:130px;
     border-radius: 10px;
    padding:10px;
    background:var(--item);
     outline-offset: -7px;
    outline: 3px double var(--docs);
     backdrop-filter: blur(.5rem);
   }
.topic{
    font-weight: 500;
     font-size: 20px;
    padding:15px;
 
}
img{
    user-select: none;
}
.content{
    margin:auto;
    width: 98%;
    padding:10px;
    overflow: hidden;
    border-radius: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    overflow-x:scroll;

    ;

}
*::-webkit-scrollbar{

    width: 1px;
    height: 1px;
}
    .shown{
    overflow: hidden;
display: flex;
 justify-content: space-around;
flex-direction: row;
width: fit-content;
background-image:rgba(0,0,0,0.25);
flex-wrap: nowrap;
backdrop-filter:blur(.5rem);
;

}
.item:hover{
    transform: scale(1.05);
     
}
 
    .item{
    border-radius: 15px;
    background-image:
      repeating-linear-gradient(180deg, rgba(118, 108, 150, 0.16),rgba(0, 0, 0, 0.16));
       height: 300px;
    width: 200px;
      display: flex;
    align-items: center;
     background-position: top right;
     justify-content: flex-end;
    flex-direction: column;
    margin:10px;
     user-select: none;
    transition:all .6s ease-in-out;
 }

 div>div>div{
 animation:fade-in  linear;
 animation-timeline:view(900px 0px);   
  }
 @keyframes fade-in {
    0%{
        opacity: 0;
        filter:grayscale(1);
        }

    40%{
        opacity: 0;
        transform: scale(1,1)translateY(200px) ;
        filter:grayscale(0);
       }
   
    100%{ 
        opacity: 1;
        transform: translateY(0px);
    }
    
 }
 div>div>div:has([data-cat="imgs"]){
    animation:img-in  linear;
     animation-timeline:view(500px -400px);   
       }
    @keyframes img-in {
       0%{
             transform: scale(.4,.4);
          }
     100%{
            transform: scale(1,1);
       }
    }
    .ctop{
         border-radius:10px;
        background:linear-gradient(270deg,transparent,rgba(76, 100, 106, 0.15));
        padding:10px;
    }
.imgbox{
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    background:black;
    padding:2px;
    transition:all .8s ease-in-out;
    filter:drop-shadow(0px 0px 0px cyan);
    overflow: hidden;
}
.image{
    width:100%;
    border-radius: 10px;
}
.imgbox:hover{
filter:drop-shadow(0px 0px 30px rgba(0, 255, 255, 0))
}
 
.options{
    width:100%;
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items:center;
    justify-content: flex-end;
}
.list{
    font-size: 13px;
    list-style:circle;
      letter-spacing:2px;
      border-radius: 10xp;
      line-height:2;
      font-weight:500;
      margin-top:100px;
      padding-bottom: 10px;
       border-radius: 10px;
     padding:10px;
}

    .list li{
    font-family:monospace;
    padding:10px;
    width:300px;
    list-style:none;
    height:80px;

     border-radius:10px;
    letter-spacing: 1.3px;
    background:black;
      color:rgb(142, 206, 255);
    background-size: 400px 200px;
    }
  .quest{
    width:100%;
    display: flex;
    background:
    radial-gradient(rgba(0, 0, 0, 0.711) 10%,var(--item) 40%),
    repeating-conic-gradient(
    from 45deg, rgb(0, 0, 0) 0deg 45deg, rgb(103, 103, 103) 45deg 90deg);
    background-size: 180% 350%,1em 1em;
    background-position:0% 50%;
    background-attachment: fixed,fixed;
      padding-top: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    box-shadow:
     inset 0px -50px 300px rgba(0, 0, 0, 0.477);
    justify-content: flex-end;

}
.ctext{
    font-size: 35px;
      padding:10px;
         color:white;
 }
 .ratings{
    background:linear-gradient(140deg,red,yellow);
    font-size: 20px;
    font-weight: 600;
    color:transparent;
    -webkit-background-clip: text;
 }
.phone{
    width:500px;
}
.getst{display: flex;
    padding: 20px;
    cursor: pointer;
    border-radius: 200px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    background:linear-gradient(90deg,rgb(0, 255, 85),rgb(0, 59, 67));
    -webkit-background-clip: text;
    text-shadow: none;
    font-size: 20px;
    color: transparent;
    align-self: center;
    border: 15px double rgb(45, 57, 57);
    transition: all .4s ease-in-out;
    animation: shade linear;
    animation-timeline: view(20px 20px);
    font-weight: 600;
    filter:drop-shadow(0px 0px 0px rgb(0, 0, 0));
    }
    
    @keyframes shade {
    50%,100%{
        font-weight: 900;
        box-shadow: 
        inset 0px 42px 0px var(--transpdoc), 
        inset 0px -42px 0px var(--transpdoc),
         inset -42px 0px 0px var(--transpdoc),
          inset 42px 0px 0px var(--transpdoc);
        border: 15px double rgb(9, 59, 77);
        filter:drop-shadow(0px 0px 100px rgba(74, 255, 74, 0));
    }    
    }
    

 
.questa{
    display: flex;
    background:
    radial-gradient(rgba(0, 0, 0, 0.711) 10%,var(--back) 40%),
    repeating-conic-gradient(
    from 45deg, rgb(0, 0, 0) 0deg 45deg, rgb(103, 103, 103) 45deg 90deg);
    background-size: 180% 300%,1em 1em;
    box-shadow: inset 0px 40px 300px var(--back);
    background-position:0% 70%;
    background-attachment: fixed,fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
     flex-wrap: wrap;
     padding:10px;
     flex-direction: row;
 
}
  .ui{
    position:absolute;
    width:190px;
    filter:hue-rotate(0deg) drop-shadow(0px 0px 0px rgb(0, 0, 33)) drop-shadow(0px 0px 0px white);
     margin:5px;
     transition: all 1s ease-in-out;
     background:rgba(255, 255, 255,0.1);
     border-radius: 50%;
 
}
    .ui:nth-child(1){
    top:0;
    left: 0;
 
}
.ui:nth-child(1):hover,
.ui:nth-child(2):hover{
    transform: scale(1.04);
    border-radius: 50%;
    background:rgba(255, 255, 255, 0);
    filter:hue-rotate(200deg)  drop-shadow(0px 0px 5px rgb(0, 0, 33)) drop-shadow(20px 20px 20px rgba(66, 71, 74, 0.4));
    z-index: 1000;
  
}
    .ui:nth-child(2){
    bottom:0;
     right: 0;
}
.para1{
    padding:10px;
     font-size: 82px;
    color:gold;
    background:rgba(0, 0, 0, 0.2);
    letter-spacing:2px;

    border-radius: 7px;
    width: fit-content;

}
.para{
    padding:10px;
     font-size: 14px;
     background:rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    width: fit-content;

}
.left{
    width:50%;
    padding:20px;
    border-radius: 10px;;
}
.header{
    display:flex;
    position:relative;
    height:50px;
    justify-content:center;
    align-items: center;
    background:rgba(0, 0, 0, 0.644);
    border-bottom:6px  double var(--docs);
    outline-offset: -7px;
    backdrop-filter:blur(4rem);
}
.right{
    width:45%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    }
.template{
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
     padding:10px;
     margin:10px;
     background: rgba(66, 71, 74, 0.4);
}

.gets{
    text-align: center;
    width: 100%;
    padding:20px;
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.para2{
    padding:10px;
     font-size: 82px;
     color:cyan;
     background:rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    width: fit-content;

}
.para3{
    padding:10px;
     font-size: 82px;
     color:rgb(255, 0, 187);
     background:rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    width: fit-content;

}
.parat::first-letter{
    color:rgb(142, 206, 255);
     font-size:60px;
    font-weight: 600;
}
.iconbox{
    display:flex;
    justify-content:center;
    text-align:center;
    height:50px;
    color:white;
    background:rgba(211, 211, 211, 0.1) ;
    font-size:25px;
    margin-right:5px;
    width:50px;
    border-radius:10px;
    margin-top:-130px;
    margin-left:-60px;
    align-items: center;
 }
        .parat2{
    padding:10px;
    color:rgba(142, 206, 255, 0.175);
    font-size:30px;
    font-family:cursive;
     width:400px;
     background-image: url(https://benasdom.github.io/Robo/img/spiral.svg);
     margin-top:20px;
     margin-bottom:20px;
    background-repeat: no-repeat;
     -webkit-text-stroke: .8px rgb(142, 206, 255);
     height:100%;
     display:flex;
     justify-content:center;
     align-items:center;
     text-align:center;
     letter-spacing:1.5px;
     font-weight:600;

}

.parat2::first-letter{
    color:rgb(142, 206, 255);
    font-size:60px;
   font-weight: 600;
}
.parat{
    padding:10px;
      color:white;
     font-size:32px;
     letter-spacing:1.5px;
     font-weight:600;

}
.logob{
    position:absolute;
    background:black;
     display:flex;
    justify-content: center;
    top:20px;
    border-radius: 50px;
     border-right: 6px double var(--docs);
    border-left: 6px double var(--docs);
    align-items:center;
    height:50px;
    width:50px;

}

  
.qleft{
    width:450px;
    font-size: 40px;
    color:var(--textlarge);
    font-weight: 500;
    align-self:center;
    border-radius:10px;
     padding:30px;
 
}
.webbs{
    position: absolute;
}
 
.qright{
    width:50%;
    position: relative;
    height:500px;
    padding-top: 30px;
     align-self: center;
     background:black;
    border-radius: 90% 30% 90% 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.docsvg{
padding-right: 5px;
height:7px;
padding:3px;
 border-radius: 50% ;
 filter:drop-shadow(0px 0px 5px black);

}
.more
{  
    margin:5px;
    width:70px;
    background:linear-gradient(45deg,rgb(0, 255, 85),rgb(1, 87, 98));
    padding:5px;
    text-align: right;
    align-items: center;
    display: flex;
    cursor: pointer;
    color:var(--doctext);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
     border-radius: 10px;
    outline-offset: -7px;
 }
.text{
    width:90%;
    height: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:5px;
    margin-bottom: 3px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 25px;
    font-weight: 500;
    backdrop-filter: blur(.3rem);
    color:rgb(172, 202, 255);
}
